<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Khana Khazana</title>
    <link rel="stylesheet" text="text/css" href="\css\index.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body>
    <header class="topnav">
        <h3>Khana Khazana</h3>
        <a class="home" href="/">Home</a>
        <a class="order" href="/userdetail">Order Now</a>
    </header>
    <section>
        <img src="\images\pic1.jpg" width="1350px" height="665px">
        <h1 class="hun"><b>Hungry ???</b></h1>
        <p class="para">Order food from your favourite restaurant near you</p>
        <a href="/userdetail" class="now">Order Now</a>
    </section>
    <footer>
        <h1 class="contact">Contact Us</h1>
        <br>
        <div>
            <p class="para1">Email:-&nbsp;<a href="mailto:khanaKhazana23@gmail.com">khanaKhazana23@gmail.com</a></p><br>
            <p class="para1">Phone:-&nbsp;<a href="tel:9899463165">+919899463165</a></p></div>
            <br>
    </footer>
</body>
</html>