<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Khana Khazana</title>
    <link rel="stylesheet" text="text/css" href="\css\userdetail.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body>
    <header class="topnav">
        <h3>Khana Khazana</h3>
        <a class="home" href="/">Home</a>
        <a class="order" href="/userdetail">Order Now</a>
    </header>
    <main>
        <form method="POST" action="/create">
            <h1 style="margin-left: 510px;">Please fill your details:-</h1>
            <div class="in">
                <input class="input-items" type="text" name="name" placeholder="Name"  required><br>
                <input class="input-items" type="number" name="monu" placeholder="Mobile Number" required><br>
                <input class="input-items" type="text" name="addr" placeholder="Address" required>
            </div>
            <input class="submit1" type="submit" value="Next">
        </form>
    </main>
    <br><br><br><br><br><br>
    <footer>
        <h1 class="contact">Contact Us</h1>
        <br>
        <div>
            <p class="para1">Email:-&nbsp;<a href="mailto:khanaKhazana23@gmail.com">khanaKhazana23@gmail.com</a></p><br>
            <p class="para1">Phone:-&nbsp;<a href="tel:9899463165">+919899463165</a></p></div>
            <br>
    </footer>
</body>
</html>